* {
    margin: 0;
    padding: 0;
}
.slider {
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 10px solid #000;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .navigation {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    display: flex;
 }
 .bar1, .bar2, .bar3, .bar4 {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 25px 12px 0 16px;
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    vertical-align: text-top;
    background: #fff;
 }
.bar1::before, .bar2::before, .bar3::before, .bar4::before {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in;
}  
 input[name="r"] {
    position: absolute;
    visibility: hidden;
 }
 .slides {
    width: 400%;
    height: 100%;
    display: flex;
 }
 .slide-container {
    width: 25%;
    transition: all .6s ease;
 }
 .slide-one, .slide-two, .slide-three, .slide-four {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
 }
 .slide-one {
    background-image: url(./img/1.jpeg);
 }
 .slide-two {
    background-image: url(./img/2.jpg);
 }
 .slide-three {
    background-image: url(./img/3.jpg);
 }
 .slide-four {
    background-image: url(./img/4.jpg);
 }
 #r1:checked ~ .s1 {
    margin-left: 0;
 }
 #r2:checked ~ .s1 {
    margin-left: -25%;
 }
 #r3:checked ~ .s1 {
    margin-left: -50%;
 }
 #r4:checked ~ .s1 {
    margin-left: -75%;
 }
 #r1:checked ~ .navigation > .bar1::before {
    transform: translate(-50%, -50%) scale(1);
 }
 #r2:checked ~ .navigation > .bar2::before {
    transform: translate(-50%, -50%) scale(1);
 }
 #r3:checked ~ .navigation > .bar3::before {
    transform: translate(-50%, -50%) scale(1);
 }
 #r4:checked ~ .navigation > .bar4::before {
    transform: translate(-50%, -50%) scale(1);
 }
 